/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heads-tails-image {
  width: 200px;
}
.card-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
}
.game-heading {
  color: #a35200;
  font-family: 'Roboto';
  font-size: 30px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.heads-or-tails {
  color: #334155;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.count-text {
  margin-right: 15px;
  color: #475569;
  font-weight: 600;
}
.toss-button {
  background-color: #f9d423;
  border-style: none;
  color: #a35200;
  height: 30px;
  border-radius: 6px;
  font-weight: 600;
}
.count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .count-container {
    flex-direction: column;
    justify-content: center;
  }
}
